{% extends "base_generic.html" %}

{% block title %}Mon compte{% endblock %}

{% block content %}
  <h1>Bienvenue sur votre compte !</h1>
  <p>Email : {{ request.user.email }}</p>
  <p>Rôle : {% if request.user.is_superuser %}Admin{% else %}Client{% endif %}</p>
  {% if request.user.is_superuser %}
    <div>
      <h2>Gestion des livres</h2>
      <a href="{% url 'book-create' %}" class="btn btn-success">Ajouter un livre</a>
      {% for book in books %}
        <p>
          {{ book.title }}
          -
          <a href="{% url 'book-update' book.id %}">Modifier</a>
          -
          <a href="{% url 'book-delete' book.id %}">Supprimer</a>
        </p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}