{% extends "base_generic.html" %}

{% block title %}
  {% if object %}Modifier {{ object.title }}{% else %}Ajouter un livre{% endif %}
{% endblock %}

{% load static %}
{% block extra_js %}
  <script src="{% static 'app/bundles/bookForm.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>{% if object %}Modifier{% else %}Ajouter{% endif %} un livre</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback" style="display: block;">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <!-- Bouton pour ouvrir le modal d'ajout de catégorie -->
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#categoryModal">
      Ajouter une nouvelle catégorie
    </button>
    <br>
    <button type="submit" class="btn btn-primary">{% if object %}Mettre à jour{% else %}Ajouter{% endif %}</button>
    <a href="{% url 'account' %}" class="btn btn-secondary">Annuler</a>
  </form>

  <!-- Modal d'ajout de catégorie -->
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Nouvelle Catégorie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulaire pour ajouter une catégorie -->
          <form id="add-category-form">
            <div class="form-group">
              <label for="category-name">Nom de la catégorie</label>
              <input type="text" class="form-control" id="category-name" name="category-name" required>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter la catégorie</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}