{% extends "base_generic.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
  <h1>Liste des Livres</h1>
  <form method="get" action="{% url 'home' %}" class="mb-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="q" placeholder="Rechercher un livre..." value="{{ request.GET.q }}">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Recherche</button>
    </div>
  </form>
  <div class="row">
    {% for book in books %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Auteur: {{ book.author }}</h6>
            <p class="card-text">{{ book.description }}</p>
            <p class="card-text">Prix: {{ book.price }} €</p>
            <p class="card-text">Date de publication: {{ book.date|date:"d F Y" }}</p>
            <p class="card-text">Note: {{ book.rate }}/5</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}